@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

*{
  font-family: 'Nunito', sans-serif;
  max-width: 1000px;
  margin: auto;
}

.NavBar{
  background-color: #1B428E;
  
h2{
  color: #FEC033;
  margin-left: 15px;
  font-weight: 800;
}
a[class="nav-link nav-item"]{
  font-size: 25px;
}
a[class="nav-link nav-item activeLink"]{
  font-size: 25px;
}
  a {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 15px;
    display: inline-block;
    //  justify-content:center;
    
    }

  div {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    
    a{
    color:rgb(5, 0, 0);
    text-decoration: none;
    font-weight: lighter;
    }
    button {
    border-radius: 5px;
    border: solid 2px ;
    border-color: #FEC033;
    margin: 5px;
    
    }
    p{
      color:  white;
      font-size: 20px;
      display: flex;
      align-items: center;
      margin: 0 0 0 auto;
      
      img{
      border-radius: 5px;
      border: solid 4px ;
      }
    }
  }
  
}

.SignUpComponent{
  border: solid;
  border-radius: 8px;
  border-color: #1B428E;
  width: 90%;
  height: 95%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10p;
  
  h1{
    font-size: 48px;
    font-family: 'Nunito', sans-serif;
    font-weight:bold;
      color: #FEC033;
      text-align: center;
  }
  p{
    text-align: center;
  }
  button[id="random"]{
    width: 250px;
    
    display: block;
    justify-content:center;
    text-align: center;
  }
  
  .flex-container{
    display: inline-box;
    input[type="text"]{
      width: 100px;
      margin-right: 5px;
    
    }
  }

  button {
    width: 112px;
    height: 44px;
    color:  black;
    border-radius: 5px;
    border: solid 2px ;
    border-color: #FEC033;
    text-align: center;
    margin: auto;
  
  }
  button:hover{
    background-color: #FEC033;
    
  }
  div {
    input[type="text"]{
      border-radius: 5px;
      border: solid 2px;
      border-color: #FEC033;
    }
    input[type="password"]{
      border-radius: 5px;
      border: solid 2px;
      border-color: #FEC033;
    }
  }
  div {
    input[type="checkbox"]{
      border-color: #FEC033;
    }
  }
}


.CreateComponent {
  border: solid;
  border-radius: 8px;
  border-color: #1B428E;
  width: 90%;
  display: block;
  margin-top: 20px;
  
  #exampleFormControlTextarea1{
    border-radius: 5px;
    border: solid 2px ;
    border-color: #FEC033;
  }

  button {
    width: 112px;
    height: 44px;
    color:  black;
    border-radius: 5px;
    border: solid 2px ;
    border-color: #FEC033;
    margin-left: 44%;
    margin-right: auto;
    
  }
  div {
    margin-bottom: 20px;
    input[type="text"]{
      border-radius: 5px;
      border: solid 2px;
      border-color: #FEC033;
      margin-top: 20px;

    }    
    input[type="checkbox"]{
    border-color:  #FEC033;
    
    
  }
  label{
    display: flex;
    align-items: center;
    
  }
  }
  
}

.posts-container{
  border: solid;
  border-radius: 8px;
  border-color: #1B428E;
  width: 90%;
  height: 95%;
  // position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10p;
 li{
   overflow:hidden; 
   border-bottom:1px solid grey;
   list-style: none;
   
 }
div {
  margin-left: 10px;
  border: 0px none;
}
}


.PostPage {
  border: solid;
  border-radius: 8px;
  border-color: #1B428E;
  width: 90%;
  display: block;
  margin-top: 20px;
  button {
    color:  black;
    border-radius: 5px;
    border: solid 2px ;
    border-color: #FEC033;
    text-align: center;
    margin: auto;
  }
  button:hover{
    background-color: #FEC033;
    
  }
  h1{
    text-align: center;
  }
  div {
    margin-left: 10px;
    margin-right: 10px;
    
  }
  .form-control{
    
    margin:0 auto;
  }
  button{
    display: block;
  margin: 0 0 0 auto;
  border-radius: 5px;
    border: solid 2px ;
    border-color: #FEC033;
  }
}

.HomeComponent{
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  button{
    display: block;
    margin: 0 0 10px auto;
    border-radius: 5px;
    border: solid 2px ;
    border-color: #FEC033;
    a{
    color:rgb(5, 0, 0);
    text-decoration: none;
    }
  }
}

.LoginComponent{
    border: solid;
    border-radius: 8px;
    border-color: #1B428E;
    width: 90%;
    height: 95%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display:flex;
    
    p{
      text-align: center;
    }
    .col-auto{
      text-align: center;
    }
    div > button {
      width: 112px;
      height: 44px;
      color:  black;
      border-radius: 5px;
      border: solid 2px ;
      border-color: #FEC033;
      margin-left: 38%;
      
    }
    button:hover{
      background-color: #FEC033;
    }
    
    h1{
      font-size: 48px;
    font-family: 'Nunito', sans-serif;
    font-weight:bold;
      color: #FEC033;
      text-align: center;
    }
    .form-control{
      border-radius: 5px;
      border: solid 2px;
      border-color: #FEC033;
      width: 90%;
      margin:0 auto;
    }
    label{
      margin-left: 20px;
    }
  }
  
.aboutpage{
  border: solid;
    border-radius: 8px;
    border-color: #1B428E;
    width: 90%;
    height: 95%;
    margin-top: 20px;
    
    
    p{
      margin-left: 40px;
      margin-right: 40px;
    }
    h2{
      text-align: center;
      font-weight: 800;
    }

}

.ChatComponent{
  width: 90%;
  height: 95%;
  margin-top: 20px;

  button[id="sendbtn"]{
        display: block;
        margin: 0 0 10px auto;
        border-radius: 5px;
        border: solid 2px ;
        border-color: #FEC033;
        a{
        color:rgb(5, 0, 0);
        text-decoration: none;
        }
  }
  .roomselector{
  }
  .roomBtn{
    align-items: stretch;
    width:250px;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border-radius: 8px;
    border-color: #1B428E;
    border-width: thick;
    font-size: 20px;
    }
}
  
  
  
//   .roomSelector{


//   }
//   .roomBtn{
//     // width:250px;
//     // height: 180px;
//     background-color: white;
//     border-radius: 8px;
//     border-color: #1B428E;
//     border-width: thick;
//     font-size: 20px;
//   }
// }
// .ChatHeader{
//   margin-top: 10px;
//   margin-right: 20px;
//   margin-left: 20px;
//   margin-bottom: 10px;
//   button{
//     display: block;
//     margin: 0 0 10px auto;
//     border-radius: 5px;
//     border: solid 2px ;
//     border-color: #FEC033;
//     a{
//     color:rgb(5, 0, 0);
//     text-decoration: none;
//     }
//   }
// }